<h2>Accueil</h2>
<div>
	Ceci est une application réalisée avec Angular 4.
</div>
<div id="description">
	Elle possède une Todo Liste réalisée à l'aide d'une base de données en ligne créée sur MongoLab. L'application utilise une API développée spécifiquement pour récupérer les informations concernant cette base de données. Vous pouvez ainsi ajouter de nouvelles tâches ou les modifier quand vous le voulez. Étant une base de données test, tous les modifications que vous ferez affecteront directement la base de données.
</div>